<!--Manage payment method-->
<div class="payment">
  <div>
    <h2>Manage your payment methods</h2>
  </div>

  <div class="payment-list payment-bordered" ng-if="vm.paymentInfo.paymentMethods.length!=0">
    <div class="row paymentRow" ng-repeat="method in vm.paymentInfo.paymentMethods">
      <div class="col-xs-5 col-md-4 col-sm-4">
        {{method.cardNumber|creditNumberMask}}
      </div>
      <div class="col-xs-2 col-md-4 col-sm-4">
        {{method.expiration.month+'/'+method.expiration.year}}
      </div>
      <div class="col-xs-2 col-md-2 col-sm-2">
        <span ng-if="vm.isDefault(method.id)">Default</span>
        <button ng-if="!vm.isDefault(method.id)" class="btn btn-default hidden-xs" ng-click="vm.makeDefault(method.id)" uib-tooltip="Make default">Make
          default
        </button>
        <button ng-if="!vm.isDefault(method.id)" class="btn btn-default hidden-sm hidden-md hidden-lg" ng-click="vm.makeDefault(method.id)" uib-tooltip="Make default">D
        </button>
      </div>
      <div class="col-md-2 col-sm-2 hidden-xs">
        <button class="btn btn-danger" ng-click="vm.removePayment($index)" uib-tooltip="Delete">Delete</button>
      </div>
      <div class="col-xs-3 hidden-sm hidden-md hidden-lg">
        <button class="btn btn-danger" ng-click="vm.removePayment($index)" uib-tooltip="Delete">D</button>
      </div>
    </div>
  </div>
  <div class="payment-add payment-bordered" ng-if="vm.isAdding">
    <div class="row paymentRow payment-add-header hidden-xs">
      <div class="col-md-4">
        Card number
      </div>
      <div class="col-md-4">
        Expiration
      </div>
      <div class="col-md-2">
        CVC
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row paymentRow">
      <form name="addingForm">
        <div class="col-md-4">
          <div class="form-group" ng-class="{'has-error':!addingForm.cardNumber.$valid} ">
            <input type="text" name="cardNumber" required ng-pattern="/^[0-9]{16}$/"
                   ng-model="vm.newCredicard.cardNumber" class="form-control"
                   placeholder="Card number" ng-keydown="vm.numberKeyFilter($event)">
            <span></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group" ng-class="{'has-error':!addingForm.expirationMonth.$valid} ">
                <input type="text" name="expirationMonth" ng-pattern="/^(0?[1-9]|1[012])$/" required ng-model="vm.newCredicard.expiration.month"
                       class="form-control" placeholder="MM" ng-keydown="vm.numberKeyFilter($event)">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" ng-class="{'has-error':!addingForm.expirationYear.$valid} ">
                <input type="text" name="expirationYear" required ng-pattern="/^[0-9]{2}$/"
                       ng-model="vm.newCredicard.expiration.year" class="form-control" placeholder="YY"  ng-keydown="vm.numberKeyFilter($event)">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" ng-class="{'has-error':!addingForm.cvc.$valid} ">
            <input type="text" name="cvc" required ng-pattern="/^[0-9]{3}$/" ng-model="vm.newCredicard.cvc"
                   class="form-control" placeholder="CVC" ng-keydown="vm.numberKeyFilter($event)">
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-default" ng-click="vm.hideAddingForm()">Cancel</button>
          <button class="btn btn-info" ng-click="vm.doAddPayment()" ng-disabled="!addingForm.$valid">
            Add
          </button>
        </div>
      </form>

    </div>
  </div>

  <div class="payment-control">
    <button class="btn btn-primary" ng-click="vm.addPayment()" ng-if="!vm.isAdding">Add new</button>
  </div>
</div>
<!--End manage payment method -->
