<nav class="navbar navbar-default yourrentals">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Your.Rentals" src="https://your.rentals/wp-content/uploads/2016/05/your-rentals-logo-color400.png">
      </a>.
    </div>
  </div>
</nav>
<div class="container">

  <payment></payment>

</div>
