/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-stylus/bootstrap/variables.styl
 */
$navbar-inverse-link-color = #5AADBB
$icon-font-path = "../../bootstrap-stylus/fonts/"

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

.yourrentals
  background #fff
  height 75px

.payment-list
  margin-top 30px

.payment-bordered
  border 1px solid #dddddd

.payment
  .paymentRow
    padding 10px

.payment-add
  .payment-add-header
    font-weight bold

.payment-control
  margin-top 10px

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
